<footer class="page-footer font-small bg-secondary pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justfy-content-center">
                <h4 class="text-white">Siga-nos nas redes sociais</h4>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">

                    <li>
                        <a href="https://github.com/Vivian-Santana"target= "_blank"
                          class="icoGithub"> 
                          <i class="fa fa-github-square" aria-hidden="true"></i>
                        </a>
                    
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/in/vivian-s-5723841a3"target= "_blank"
                          class="icoLinkedin"> 
                          <i class="fa fa-brands fa-linkedin"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/"target= "_blank"
                          class="icoInstagram"> 
                          <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>

            </div>

        </div>

    </div>

    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light">2022 Copyright</span>
        
        <div class="text-white">
            <p>Developed by Vivian Santana</p>
        </div>

        <a class ="text-light" target="_blank"  href=""></a>
    </div>
</footer>
