#img-bg{
    background-image: url(https://www.roberthalf.com.br/sites/roberthalf.com.br/files/2020-03/Dicas%20para%20um%20home%20office%20produtivo.jpg);
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
